body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

p {
    font-size: 20px;
}

a {
    color: #4b82b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 40px;
}

.links-container {
    display: flex;
    margin: 0 auto;
    background-color: #4b82b4;
    border-bottom: 1px solid #fff;
    justify-content: space-evenly;
}

.links-container>a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 0;
    color: #fff;
    width: 100%;
    text-align: center;

}

.links-container>a:hover,
.links-container>a:focus {
    font-weight: 500;
    background-color: #b44b82;
}

.main {
    max-width: 1400px;
    display: grid;
    justify-content: center;
    margin: auto;
}


form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label span {
    display: inline-block;
    text-align: right;
}

input,
textarea,
select {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}


input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

button {
    background-color: #82B44B;
    color: #fff;
    border-radius: 10px;
    border-color: #82B44B;
    padding: 10px 25px;
}

label {
    position: relative;
    display: inline-block;
    margin-top: 1em;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #4b82b4;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4b82b4;
}

.styled-table tbody tr:hover {
    background-color: var(--hover-color, #f1f1f1);
}

.styled-table tbody tr:nth-of-type(even):hover {
    --hover-color: #e0e0e0;
}

.styled-table tbody tr:nth-of-type(odd):hover {
    --hover-color: #dcdcdc;
}

@media (max-width: 600px) {
    .styled-table thead {
        display: none;
    }

    .styled-table,
    .styled-table tbody,
    .styled-table tr,
    .styled-table td {
        display: block;
        width: 100%;
    }

    .styled-table tr {
        margin-bottom: 15px;
    }

    .styled-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .styled-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}