{% extends "base.html" %}

{% block content %}
<h1>Add Cost</h1>

<form action="{% url 'cost_splitter:add_cost' %}" method="post">
    {% csrf_token %}


    <!-- <label for="user">Me:</label> -->
    <p>Please choose a person: </p>
    {% for user in users %}
    {% if form.cleaned_data.user.id == user.id %}
    <input type="radio" id="{{ user.first_name }}" name="user" value="{{ user.id }}">
    <label for="{{ user.first_name }}">{{ user.first_name }}</label><br>
    {% else %}
    <input type="radio" id="{{ user.first_name }}" name="user" value="{{ user.id }}">
    <label for="{{ user.first_name }}">{{ user.first_name }}</label><br>
    {% endif %}
    {% endfor %}

    {% for error in form.errors.user %}
    {{ error }} <br>
    {% endfor %}

    <label for=" location">Paid for (ex.Interspar, Ikea): </label>
    <input id="location" type="text" name="location" value="{{ form.cleaned_data.location }}">
    {% for error in form.errors.location %}
    {{ error }} <br>
    {% endfor %}

    <label for="date">At this date:</label>
    <input id="date" type="date" value="{{ date.today }}" min="{{ date.min }}" max="{{ date.max }}" name="date">

    <label for="amount">This amount: </label>
    <input id="amount" type="text" name="amount" value="{{ form.cleaned_data.amount }}">
    {% for error in form.errors.amount %}
    {{ error }} <br>
    {% endfor %}

    <label for="description">Description: </label>
    <textarea id="description" type="text" name="description"> </textarea>

    <input type="submit" value="Submit">
</form>

{% endblock content %}