{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Cost splitter</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'scripts/top.js' %}"></script>
</head>

<body>
    {% block content %}{% endblock content %}
    <a href="{% url 'cost_splitter:list_report' %}">Index</a>
    <a href="{% url 'cost_splitter:add_cost' %}">Add cost</a>
    <a href="{% url 'cost_splitter:add_report' %}">Add report</a>
    <button onclick="myFunction()">Click me!</button>
    <script src="{% static 'scripts/bottom.js' %}"></script>
</body>

</html>