{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Cost splitter!</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'scripts/top.js' %}"></script>
</head>

<body>
    <div class="links-container">
        <a href="{% url 'cost_splitter:list_report' %}">Start</a>
        <a href="{% url 'cost_splitter:add_cost' %}">Add cost</a>
        <a href="{% url 'cost_splitter:add_report' %}">Create split</a>
        <a href="{% url 'cost_splitter:list_cost' %}">All costs</a><br>
    </div>
    <div class="main">
        {% block content %}{% endblock content %}
    </div>
    <!-- <button onclick="myFunction()">Click me!</button> -->
    <script src="{% static 'scripts/bottom.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var coll = document.getElementsByClassName("collapsible");
            for (var i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        });
    </script>
</body>

</html>