{% extends "base.html" %}

{% block content %}
<h1>List of all costs</h1>

{% if managed_costs %}
<h2>Managed costs</h2>
<table>
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Location</th>
        <th>Description</th>
        <th>Report ID</th>
    </tr>
    {% for cost in managed_costs %}
    <tr>
        <td>{{ cost.user.first_name }}</td>
        <td>{{ cost.date }}</td>
        <td>{{ cost.amount }}</td>
        <td>{{ cost.location }}</td>
        <td>{{ cost.description }}</td>
        <td><a href="{% url 'cost_splitter:report' cost.included_in_report.id %}">{{ cost.included_in_report.id }}</a>
        </td>


    </tr>
    {% endfor %}
    {% endif %}
</table>
{% if unmanaged_costs %}
<h2>Unmanaged costs</h2>
<table>
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    {% for cost in unmanaged_costs %}
    <tr>
        <td>{{ cost.user.first_name }}</td>
        <td>{{ cost.date }}</td>
        <td>{{ cost.amount }}</td>
        <td>{{ cost.location }}</td>
        <td>{{ cost.description }}</td>
    </tr>
    {% endfor %}

</table>

<h2>Necessary transactions</h2>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.debtor.name }}</td>
        <td>{{ transaction.creditor.name }}</td>
        <td>{{ transaction.amount }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock content %}