{% extends "base.html" %}

{% block content %}
<h1>Report #{{ id }}</h1>
<p>Created: {{ report.date }}</p>

<table class="styled-table">
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    {% for cost in costs %}
    <tr>
        <td data-label="Person">{{ cost.user.first_name }}</td>
        <td data-label="Date">{{ cost.date }}</td>
        <td data-label="Amount">{{ cost.amount }}</td>
        <td data-label="Location">{{ cost.location }}</td>
        <td data-label="Description">{{ cost.description }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Transactions</h2>
<table class="styled-table">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Reference</th>
    </tr>
    {% for transaction in report.transactions.all %}
    <tr>
        <td data-label="From">{{ transaction.debtor.first_name }}</td>
        <td data-label="To">{{ transaction.creditor.first_name }}</td>
        <td data-label="Amount">{{ transaction.amount }}</td>
        <td data-label="Reference">{{ transaction.uuid }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
