{% extends "base.html" %}

{% block content %}
<h1>Report #{{ id }}</h1>
<p>Created: {{ report.date }}</p>

<table class="styled-table">
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    {% for cost in costs %}
    <tr>
        <td>{{ cost.user.first_name }}</td>
        <td>{{ cost.date }}</td>
        <td>{{ cost.amount }}</td>
        <td>{{ cost.location }}</td>
        <td>{{ cost.description }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Transactions</h2>
<table class="styled-table">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Reference</th>
    </tr>
    {% for transaction in report.transactions.all %}
    <tr>
        <td>{{ transaction.debtor.first_name }}</td>
        <td>{{ transaction.creditor.first_name }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.uuid }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
