{% extends "base.html" %}

{% block content %}
<h1>All Reports</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    {% for report in reports %}
    <tr>
        <td><a href="{% url 'cost_splitter:report' report.id %}">{{ report.id }}</a></td>
        <td>{{ report.date }}</td>
        <td>{{ report.description }}</td>
    </tr>
    {% endfor %}
</table>

{% if pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">next</a>
        <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}
