{% extends "base.html" %}

{% block content %}
<h1>All Reports</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td data-label="ID"><a href="{% url 'cost_splitter:report' report.id %}">{{ report.id }}</a></td>
            <td data-label="Date">{{ report.date }}</td>
            <td data-label="Description">{{ report.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
